@{
    ViewBag.Title = "Home Page";
}

<title>Home page</title>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(../../Content/IMAGE/test.jpg);
        background-repeat: no-repeat;
        background-position-y: 150px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .col-sm-4 {
        width: 25%;
        margin-left: 55px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Learn HTML5</div>
                <div class="panel-body"><img src="~/Content/IMAGE/html.png" class="img-responsive" alt="Image"></div>
                <div class="panel-footer">HTML is the standard markup language for Web pages. <br><a href="https://localhost:44321/Home/Learnmore"> learn More.. </a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">CSS</div>
                <div class="panel-body"><img src="~/Content/IMAGE/css.png" class="img-responsive" alt="Image"></div>
                <div class="panel-footer">CSS is a language that describes the style of an HTML document. <br><a href="https://localhost:44321/Home/Learnmore"> learn More.. </a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">JavaScript</div>
                <div class="panel-body"><img src="~/Content/IMAGE/javascript.png" class="img-responsive" alt="Image" style="width:86%"></div>
                <div class="panel-footer">JavaScript is the programming language of HTML and the Web. <br><a href="https://localhost:44321/Home/Learnmore"> learn More.. </a></div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Python</div>
                <div class="panel-body"><img src="~/Content/IMAGE/python.png" class="img-responsive" alt="Image" style="width:91%"></div>
                <div class="panel-footer">Python is a programming language.  Python can be used on a server to create web applications. <br><a href="https://localhost:44321/Home/Learnmore"> learn More.. </a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">PHP</div>
                <div class="panel-body"><img src="~/Content/IMAGE/PHP.png" class="img-responsive" alt="Image" style="width:91%"></div>
                <div class="panel-footer">PHP is a server scripting language, and a powerful tool for making dynamic and interactive Web pages.<br><a href="https://localhost:44321/Home/Learnmore"> learn More.. </a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">C#</div>
                <div class="panel-body"><img src="~/Content/IMAGE/c.jpg" class="img-responsive" alt="Image" style="width:86%"></div>
                <div class="panel-footer">C# (C-Sharp) is a programming language developed by Microsoft that runs on the .NET Framework.<br><br><a href="https://localhost:44321/Home/Learnmore"> learn More.. </a></div>
            </div>
        </div>
    </div>
</div>
<br>
<br>