
@{
    ViewBag.Title = "Istructorpage";
    Layout = "~/Views/Shared/_Layoutaccount.cshtml";
}

<style>
    h1 {
        color: dodgerblue;
        font-size: 100px;
        text-align: center;
    }

    body {
        background-image: url(../../Content/IMAGE/test2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<h1>Soon</h1>



